{{ define "content" }}
<section id="assets-section">
    <h1>ASSETS USED</h1>
    <ul>
        <li><a href="https://www.svgrepo.com/svg/251879/mosquito" target="_blank" rel="nofollow">Mosquito</a></li>
        <li><a href="https://www.svgrepo.com/svg/96191/scientist" target="_blank" rel="nofollow">Scientist</a></li>
        <li><a href="https://www.svgrepo.com/svg/59589/flask" target="_blank" rel="nofollow">Flask</a></li>
        <li><a href="https://www.svgrepo.com/svg/36886/cross" target="_blank" rel="nofollow">Cross Icon</a></li>
        <li><a href="https://mycolor.space" target="_blank" rel="nofollow">Gradient Generator</a></li>
    </ul>
</section>
{{ end }}
