<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Researchr</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a id="logo" href="/">Researchr</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/submit">Submit</a></li>
                <li><a href="/results">Results</a></li>
            </ul>
        </nav>
    </header>
    {{ template "content" }}
</body>
</html>
