:root {
    --contrast-1: #e7e7e7;
    --contrast-2: #c4c4c4;
    --contrast-3: #afafaf;
    --contrast-4: #888888;
}
body {
    background-image: linear-gradient(195deg, #250a48, #200846, #1b0745, #150543, #0f0242);
    color: var(--contrast-2);
    margin: 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header a {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 2rem;
    line-height: 1;
}
a {
    color: var(--contrast-1);
    text-decoration: none;
    transition-duration: 0.15s;
}
a#logo {
    font-size: 2.4rem;
}
a:hover {
    color: #ffffff;
}
nav {
    display: flex;
}
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
#mosquito-section {
    max-width: 70vh;
    width: 70%;
    margin: 0 auto;
}
#mosquito-container {
    position: relative;
}
#mosquito {
    display: block;
    margin: 0 auto 5rem auto;
    padding-top: 5rem;
    max-height: 55vh;
}
#mosquito .leg {
    fill: #c4c4c4;
}
#mosquito .leg, #mosquito .head, #mosquito .wing1, #mosquito .wing2 {
    transition-duration: 0.45s;
    transition-timing-function: ease;
}
form input[name=leg1]:checked ~ #mosquito .leg1,
form input[name=leg2]:checked ~ #mosquito .leg2,
form input[name=leg3]:checked ~ #mosquito .leg3,
form input[name=leg4]:checked ~ #mosquito .leg4,
form input[name=leg5]:checked ~ #mosquito .leg5,
form input[name=leg6]:checked ~ #mosquito .leg6,
form input[name=head]:checked ~ #mosquito .head,
form input[name=wing1]:checked ~ #mosquito .wing1,
form input[name=wing2]:checked ~ #mosquito .wing2 {
    opacity: 0.1;
}
form input[type=checkbox] {
    height: 4rem;
    width: 4rem;
    position: absolute;
    visibility: hidden;
}
form input[type=checkbox]:after {
    content: "";
    background: url("/static/cross.svg");
    width: 4rem;
    height: 4rem;
    display: block;
    visibility: visible;
    transition-duration: 0.45s;
    transition-timing-function: ease-out;
}
form input[type=checkbox]:checked:after {
    transform: rotate(45deg);
}
form input[type=submit] {
    color: var(--contrast-3);
    border: 0.3rem solid var(--contrast-3);
    border-radius: 1rem;
    background: none;
    font-size: 1.8rem;
    display: block;
    padding: 1.2rem 1.6rem;
    margin-top: 3rem;
    order: 4;
    transition-duration: 0.15s;
}
form input[type=submit]:hover {
    color: var(--contrast-1);
    border-color: var(--contrast-1);
}
#responsiveness-yes:invalid ~ input[type=submit] {
    text-decoration: line-through;
}
input {
    margin: 0;
    padding: 0;
}
#responsiveness-yes, #responsiveness-no {
    display: none;
}
#responsiveness-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#responsiveness-container label {
    color: var(--contrast-4);
    display: flex;
    width: 42.5%;
    font-size: 2rem;
}
#responsiveness-container label:hover {
    color: var(--contrast-1) !important;
}
label[for=responsiveness-yes] {
    justify-content: end;
    order: 1;
}
label[for=responsiveness-no] {
    order: 3;
}
#responsiveness-yes:invalid ~ label[for=responsiveness-yes], #responsiveness-no:invalid ~ label[for=responsiveness-no] {
    color: var(--contrast-3);
    animation-name: highlight;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#responsiveness-yes:checked ~ label[for=responsiveness-yes], #responsiveness-no:checked ~ label[for=responsiveness-no] {
    color: var(--contrast-1);
}
#responsiveness-yes:checked ~ .flask-rotate {
    transform: rotate(-35deg);
}
#responsiveness-no:checked ~ .flask-rotate {
    transform: rotate(35deg);
}
#responsiveness-container .flask-rotate {
    order: 2;
    display: flex;
    width: 15%;
    transform: rotate(0deg);
    transition-duration: 1s;
}
#responsiveness-container .flask {
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-name: tinyswing;
    animation-iteration-count: infinite;
}
@keyframes tinyswing {
    from {
        transform: rotate(-7deg);
    }
    50% {
        transform: rotate(7deg);
    }
    to {
        transform: rotate(-7deg);
    }
}
@keyframes highlight {
    45% {
        color: inherit;
    }
    50% {
        color: var(--contrast-1);
    }
    55% {
        color: inherit;
    }
}
#scientist-section {
    padding: 30vh 15% 0 15%;
    min-height: 50vh;
    position: relative;
    overflow: hidden;
}
h1 {
    padding: 0;
    margin: 0;
    font-size: 9rem;
    font-weight: 200;
    color: var(--contrast-1);
}
@media (max-width: 2000px) {
    h1 {
        font-size: 7rem;
    }
    #mosquito {
        max-height: 45vh;
    }
}
#scientist-section p {
    width: 55%;
    margin-top: 3rem;
    font-size: 2rem;
}
#scientist {
    width: 22%;
    position: absolute;
    top: 28%;
    right: 15%;
    user-select: none;
}
#scientist-section .flask {
    width: 13%;
    position: absolute;
    top: 32%;
    right: 6%;
    transform: rotate(25deg);
    user-select: none;
}
#results-section {
    width: 70%;
    margin: 30vh auto 0 auto;
}
#results-section p {
    margin-top: 3rem;
    font-size: 2rem;
}
